{% extends "base.html" %}
{% block title %}Выбор роли{% endblock %}
{% block content %}
    <h2>Выберите вашу роль:</h2>
    <form method="post">
        <div class="form-group">
            <select name="role" class="form-control">
                {% for role_name in roles %}
                    <option value="{{ role_name }}">{{ role_name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
{% endblock %}